.header-container {
    height: 590px;
    border-radius: 4px;
    position: relative; /* Header container'ı referans alarak pozisyon belirleyeceğiz */
   
}



.header-container img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.header-title {
    position: relative;
    text-align: center;
    bottom:0;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.header-title p {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;    
}

.header-title h1 {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
}
.random-movie {
    position: absolute; /* Header container içinde absolut konumlandırıyoruz */
    bottom: 0; /* Header container'ın altına hizalıyoruz */
    left: 50%; /* Yatayda tam ortaya hizalıyoruz */
    transform: translateX(-50%); /* Yatayda tam ortaya hizalamak için -50% kaydırma yapıyoruz */
    max-width: 50%; /* Header container'ın yarısından daha fazla olmayacak şekilde genişlik ayarı */
    padding: 0 45px; /* Sağ ve sol boşluk ayarı */
    display: flex;
    gap: 195px;
}

.random-serie {
    position: relative;
    text-align: right;
    z-index:9;
}

/* @media screen and (max-width: 1440px) {
    .header-container {
        max-width: 100%;
    }

    .random-movie {
        max-width:50%;
        position: static;

    }
} */