.popular-movies {
    width: 1231px;
    height: 492px;
    margin: 134px 45px;
}

.popular-movies p {
    width: 202px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.popular-movies .movies-field {
    flex: 0 0 auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    gap:93px;
    align-items: center;
    overflow-x: auto;
}

.popular-movies .movies-field::-webkit-scrollbar {
    height: 10px;
    margin-top: 20px;
  }
  
.popular-movies .movies-field::-webkit-scrollbar-track {
    background-color: #fff; 
  }
  
.popular-movies .movies-field::-webkit-scrollbar-thumb {
    background-color: #a3a2a2;
    border-radius: 5px; 
  }

  @media screen and (max-width: 1440px) {
    .popular-movies {
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
  }
  .popular-movies .movies-field {
      flex: 0 0 auto;
      max-width: 98%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      gap: 93px;
      align-items: center;
  }
  }

  @media screen and (max-width: 496px) {
    .popular-movies .movies-field {
      flex: 0 0 auto;
      max-width: 98%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      overflow-x: auto;
      gap: 9px;
      align-items: center;
  }
  }